/* Gaya untuk elemen-elemen HTML */
h1 {
    color: #336699;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Gaya untuk formulir */
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
  }
  
  button[type="submit"] {
    background-color: #336699;
    color: #fff;
    border: none;
  }
  